<!-- /.navbar-header -->
{{ mopa_bootstrap_menu('AppBundle:Builder:topMenu') }}
<div class="navbar-default sidebar" role="navigation">
{# a place holder for future side menu
<div class="sidebar-nav navbar-collapse">
    {{ mopa_bootstrap_menu('AppBundle:Builder:sideMenu') }}
</div>
#}
</div>