{% extends "::default.html.twig" %}
{% block body %}
    {#<div id="page-wrapper">#}
        <div class="span10 col-lg-10 body-contents panel">
            place holder
        </div>
        <!-- /.row -->
    {#</div>#}
{% endblock %}